[backend]
active = "ollama"

[backend.ollama]
# Use this if you are going to use ollama locally
base_url = "http://127.0.0.1:11434"
model = "mistral"

[backend.gpt4o]
api_key = "42"

[prompting]
explanation_prompt = """
Schreibe eine einfache Erklärung über {topic} für A2-Englischlerner im Präsenz.
Die Erklärung sollte {length} Wörter haben und leicht verständlich sein.
Verwende nur einfache Sprache mit einfachen Vokabeln und kurzen Sätzen.
Erkläre es so, dass Kinder es verstehen, die Englisch seit einem Jahr als Fremdsprache lernen.
Gib Beispiele und wichtige Punkte an.
Die Erklärung hat keinen Titel.
"""
story_prompt = """
Schreibe eine Kindergeschichte über das {topic} in folgendem Genre: {genre}
Schreibe die Geschichte in sehr einfachem Englisch für Sprachlernende im zweiten Jahr.
Schreibe eine einfache Geschichte auf A2-Niveau. Verwende nur einfache Sprache mit einfachen Vokabeln und kurzen Sätzen.
Die Geschichte sollte {length} Wörter haben.
Beschreibe Emotionen der Figuren.
Verwende weibliche oder männliche Namen als Hauptfiguren.
Die Storyhat keinen Title.
Die Geschichte sollte nicht mit 'Once' oder 'Once upon a time' beginnen.
Überprüfe noch mal ob das Sprachniveau ein einfaches A2 ist. Wenn nicht, vereinfache den Text.
"""
genre_embedding_model = "distiluse-base-multilingual-cased-v1"

[lengths]
short = 100
medium = 150
long = 250

[evaluation]
openai_api_key = "<set api key here>"